
*.pyc
parser.out
parsetab.py
asm/TLINK.EXE
asm/TD.EXE
asm/TASM.EXE
asm/P.BAT
asm/HELLO.OBJ
asm/HELLO.MAP
asm/HELLO.EXE
asm/hello.asm
asm/EDIT.COM
asm/ADD.OBJ
asm/ADD.MAP
asm/ADD.EXE
asm/add.asm
asm/A.OBJ
asm/A.MAP
asm/A.EXE
asm/a.asm
*.COM
a.asm
